      </div>

      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="/js/application.js"></script>
      <script src="/controllers/home.js"></script>
      
  </body>
</html>