<div class="container" ng-cloak>
	<div class="row col-md-12">
		<h1>Reset Password</h1>
	</div>

	<div class="row" ng-show="!result.success">
		<div class="col-md-8">
	  		<form name="resetPasswordForm" class="form-horizontal" novalidate ng-submit="resetPassword()">         	
	          	<ms-text-input type="password"
	          				   id="password"
	          				   ms-name="password"
	          				   ms-required="required"
	          				   placeholder="Password"
	          				   mask="password"
	          				   label="New Password"
	          				   label-length="3"
	          				   input-length="5"
	          				   ng-model="password"
	          				   ng-maxlength="12"
	          				   ng-minlength="8">
	          	</ms-text-input>

	          	<ms-text-input type="password"
	          				   id="confirm_password"
	          				   ms-name="confirm_password"
	          				   ms-required="required"
	          				   placeholder="Confirm Password"
	          				   label="Confirm Password"
	          				   label-length="3"
	          				   input-length="5"
	          				   ng-model="confirm_password"
	          				   ng-maxlength="12"
	          				   ng-minlength="8">
	          	</ms-text-input>
	          
		      	<div class="form-group">
		        	<div class="col-sm-5 col-sm-offset-3">
		          		<button type="submit" name="login" value="login" class="btn btn-info">Submit</button>
		        	</div>
		      	</div>
		    </form>		    
		</div>
	</div>
	<div class="row" ng-show="result.success" ng-cloak>
		<div class="col-md-8">
			Your Account {{user.username}} has been created successfully.

			<button type="button" class="btn btn-primary" ng-click="goToLogin()">Login</button>
		</div>
	</div>
</div>