      <!-- Vendor JavaScript -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-touch.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="/scripts/ui-bootstrap-tpls.js"></script>

      <!-- FACEBOOK -->
      <script src="//connect.facebook.net/en_US/sdk.js"></script>

      <script src="/scripts/breeze.min.js"></script>
      <script src="/scripts/breeze.angular.js"></script>
      <script src="/scripts/require.js" data-main="/app/core/main"></script>   
  </body>
</html>