<div class="modal-header primary">
    <h3 class="modal-title">Forgot Password</h3>
</div>
<div class="modal-body">
    <form name="forgotPasswordForm" class="form-horizontal" novalidate ng-submit="register()">
    	<ms-text-input type="email"
      				   ms-id="username"
      				   ms-name="username"
      				   ms-required="required"
      				   placeholder="Email Address"
      				   label="Enter Your Email"
      				   label-length="3"
      				   input-length="5"
      				   ng-model="email"
      				   ng-maxlength="50">
      	</ms-text-input>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>